---
layout: default
---

<h1 class="page-title">{{ page.title }}</h1>

<div class="doc-content">
  {{ content }}
</div>

<body class="home">
  <header class="header-home" id="up">
    <article class="container">

      <div style="float: right; padding-right: 60px;" class="show-for-tablet-up">

        <p class="text-center">
          <a href="http://phonon.quarkdev.com/App/public/phonon/kitchen-sink/">Full Screen</a>
        </p>
        <div class="device-frame">
          <iframe class="device-content" src="http://phonon.quarkdev.com/App/public/phonon/kitchen-sink/"></iframe>
        </div>
      </div>

      <div class="intro">

        <h1>Phonon Framework</h1>

        <h2>A light weight, scalable, flexible and customizable HTML5 Web - Hybrid Mobile App Framework</h2>
        <h2>Working with a page manager / router inspired by <a href="http://developer.android.com/reference/android/app/Activity.html">Android Activities</a></h2>
        <h2>Support Apache Cordova / PhoneGap</h2>
        <h2>JavaScript and CSS components are based on Material Design specs</h2>

        <div id="github-commits"></div>

        <div class="padded-bottom"></div>

        <iframe src="https://ghbtns.com/github-btn.html?user=quark-dev&repo=Phonon-Framework&type=star&count=false&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
        <iframe src="https://ghbtns.com/github-btn.html?user=quark-dev&repo=Phonon-Framework&type=fork&count=false&size=large" frameborder="0" scrolling="0" width="158px" height="30px"></iframe>

        <div class="padded-bottom"></div>

        <a href="https://github.com/quark-dev/Phonon-Framework/archive/master.zip" class="btn-site">Download</a>

        <!--[if lt IE 10]>
        <p style="color: #fff;margin-top:32px;border-left: 4px solid #F40B00;padding-left:8px;background-color: #333;">
          Oups! Your browser is old and does not support many features on this website.<br />
          Please, <a href="http://browsehappy.com/" style="text-decoration: underline;">upgrade your browser</a>.
        </p>
        <![endif]-->
      </div>

      <div class="share-container">
        <div id="twitter" data-url="http://phonon.quarkdev.com/" data-text="Phonon: a light weight and scalable HTML5 Framework for Apache Cordova / PhoneGap" data-title="Tweet"></div>
        <div id="facebook" data-url="http://phonon.quarkdev.com/" data-text="Phonon: a light weight and scalable HTML5 Framework for Apache Cordova / PhoneGap" data-title="Like"></div>
        <div id="googleplus" data-url="http://phonon.quarkdev.com/" data-text="Phonon: a light weight and scalable HTML5 Framework for Apache Cordova / PhoneGap" data-title="+1"></div>
      </div>

      <a href="https://github.com/quark-dev/Phonon-Framework" class="fork-me padded-bottom"><img src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

      <br /><br />
      <!-- Adsense -->
      <div class="intro">

        <!-- Phonon -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:336px;height:280px"
             data-ad-client="ca-pub-8456563423915445"
             data-ad-slot="9919040412"></ins>

      </div>

    </article>
  </header>

  <header class="header-bar show-for-phone-only">
    <button class="btn pull-right icon icon-menu" id="toggle-menu" data-menu-id="site-menu"></button>
    <div class="center">
      <h1 class="title" data-menu-id="site-menu">Phonon</h1>
    </div>
  </header>

  <div class="popover" id="site-menu" style="left: auto;right: 16px;">
      <ul class="list">
        <li><a class="padded-list" href="http://phonon.quarkdev.com/components/">UI Components</a></li>
        <li><a class="padded-list" href="http://phonon.quarkdev.com/docs/">Docs</a></li>
        <li><a class="padded-list" href="http://phonon.quarkdev.com/#getting-started">Getting Started</a></li>
        <li><a class="padded-list" href="https://github.com/quark-dev/Phonon-Framework/archive/master.zip">Download</a></li>
      </ul>
  </div>


  <nav class="vertical-menu show-for-tablet-up">

    <a href="#up" class="anchor">
      <img src="http://phonon.quarkdev.com/App/public/assets/icons/favicon-260x260.png" alt="Phonon Framework logo" style="width: 100%;padding: 15px">
    </a>

    <ul>
      <li><a href="#why-use-phonon" class="anchor">Why use Phonon?</a></li>
      <li><a href="#phonon-more-features" class="anchor">More Features</a></li>
      <li><a href="#compatibility" class="anchor">Compatibility</a></li>
      <li><a href="#help-us" class="anchor">Help Us</a></li>
      <li><a href="#getting-started" class="anchor">Getting Started</a></li>
      <li class="item-divider"></li>
      <li><a href="components/">&#8594; UI Components</a></li>
      <li><a href="docs/">&#8594; Docs</a></li>
    </ul>
  </nav>

  <div class="home-container">

    <div class="item-use">

      <div class="container bg1">

        <h1>About</h1>

        <p>Originally, Phonon has been created for building <strong>hybrid apps with Apache Cordova</strong> by using <strong>web technologies such as HTML, CSS and JavaScript</strong>. Of course, there are many frameworks well known, but Phonon gives an intuitive and amuzing way of building apps. For example, the app's workflow can be defined with page events. When the user access on the page-X for the first time, the onCreate callback is called, when the page becomes visible, the onReady callback is called, etc. You can also prevent the automatic close if an action is required.</p>

        <p>Furthermore, this framework is also an <strong>UI framework</strong> proposing many features that are generic, which means they don't differ from mobile platforms. On the other hand, you can define your style according to the platform, because Phonon adds the OS class in the body tag.</p>

      </div>
    </div>

    <h1 id="why-use-phonon" class="text-center">Why use Phonon Framework?</h1>

    <div class="item-use gray-light">

      <div class="container">

        <h2>Light weight Mobile Framework</h2>

        <p><strong>phonon-core.js</strong> is only <strong>23 kB</strong>! This file is the minimal file for running Phonon with basic CSS only components. Then you can load each component that you need. In this table, we compare Phonon to other frameworks with the file named <strong>phonon.js</strong> which contains the entire framework.</p>

        <table class="table">
          <tr>
            <thead>
              <th>Framework</th>
              <th>Version</th>
              <th>Minified Size</th>
              <th>Size with required dependencies</th>
            </thead>
          </tr>
          <tbody>
            <tr>
              <td>Ionic</td>
              <td>1.1.0</td>
              <td>209.4 kB (ionic.js, ionic-angular.js)</td>
              <td>414.5 kB (ionic-bundle.js)</td>
            </tr>
            <tr>
              <td>OnSenUI</td>
              <td>1.3.8</td>
              <td>265.6 kB</td>
              <td>535.1 kB</td>
            </tr>
            <tr>
              <td>Framework7</td>
              <td>1.2.0</td>
              <td>253.8 kB</td>
              <td>253.8 kB</td>
            </tr>
            <tr>
              <td>Phonon</td>
              <td>1.0.0</td>
              <td>62.1 kB &#9829;</td>
              <td>62.1 kB &#9829;</td>
            </tr>
            <tr>
              <td>Phonon + Riot</td>
              <td>1.0.0 - 2.2.4</td>
              <td>#</td>
              <td>74.85 kB</td>
            </tr>
            <tr>
              <td>Phonon + Angular</td>
              <td>1.0.0 - 1.4.3</td>
              <td>#</td>
              <td>207.6 kB</td>
            </tr>
            <tr>
              <td>Phonon + React</td>
              <td>1.0.0 - 1.4.3</td>
              <td>#</td>
              <td>183.6 kB</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

    <div class="item-use">

      <div class="container">
      <h2>User Interface Event Control</h2>

        <p>Phonon takes care to act in a native way with active UI components. One practical example is if a dialog box is opened and the user clicks on the back button on Android, instead of going back to the previous page, the event controller will close the active dialog automatically.
        </p>

        <p>Furthermore, you can define page event callbacks in order to organize tasks at a specific moment. The Navigator module is the master of page events: onCreate, onReady, onTransitionEnd, onClose, onHidden, etc. OnCreate is called when the page is first created. This is where you should do all of your normal static set up (this callback is called once). onReady is called every time the page becomes visible to the user, onClose is called only if data-prevent-close is true, this permits to prevent the page close if we want to keep the user on the same page (for example to accept conditions before using the app).</p>
      </div>
    </div>

    <div class="item-use gray-light">

      <div class="container">
        <h2>Library Agnostic</h2>

        <p>Phonon does not use and does not depend on any third party libraries.</p>
        <p>Choose the right framework according to your needs and your project's size! You are free to use React, Angular, jQuery, Riot, etc.</p>
      </div>
    </div>

    <div class="item-use">

      <div class="container">

        <h2>Plays well with Riot and Angular</h2>

        <div class="row">
          <div class="phone-12 tablet-4 column">
            <img src="App/public/assets/img//riot.png">
          </div>
          <div class="phone-12 tablet-8 column">
            <p class="column-feature"><strong><a href="https://muut.com/riotjs/" title="Riot">Riot</a></strong> is a react-like user interface micro-library. It is super efficient and this is why we decided to support it. The rendering engine is incredibly performant. Phonon is probably <strong>the first Framework that supports Riot completely</strong> including the <strong>virtual DOM</strong> and <strong>tags</strong>.
            </p>
          </div>
        </div>

        <p>Example of a tag with page events:</p>

        <pre>
          <code class="language-markup">&lt;home class=&quot;app-page&quot;&gt;
    &lt;div class=&quot;content&quot;&gt;
        &lt;p class=&quot;padded-full&quot;&gt;{title}&lt;/p&gt;
    &lt;/div&gt;
    &lt;script&gt;
        this.title = 'Hello World!'

        this.on('create', function() { })
        this.on('ready', function() { })
        this.on('transitionend', function() { })
        this.on('close', function(self) { self.close(); })
        this.on('hidden', function() { })
        this.on('hash', function(req) { })
        this.on('tabchanged', function(tabNumber) { })
    &lt;/script&gt;
&lt;/home&gt;</code></pre>

        <br /><br/>

        <div class="row">
          <div class="phone-12 tablet-4 column">
            <img src="App/public/assets/img//angular.png">
          </div>
          <div class="phone-12 tablet-8 column">
            <p class="padded-left">
              Angular's <strong>hash prefix (#/!)</strong> is supported. You can find an example how to use <a href="http://phonon.quarkdev.com/App/public/phonon/examples/pizza-app-with-angular/">Phonon with Angular here</a>.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="item-use gray-light">

      <div class="container">
        <h2>An UI Framework that provide a Native Experience</h2>

        <p>
          Hybrid apps tend to be sluggish and poorly designed. The native look and feel is an important point.
        </p>

        <p>
          <a href="#">Discover UI Components &#8594;</a>
        </p>
      </div>
    </div>


    <div class="item-use">

      <div class="container">
        <h2>Ultra Simple to Internationalize your App</h2>

        <p>
          The i18n module loads the user's language if the file is available otherwise it will load the default app's language. Then it binds HTML templates where data-i18n attributes are present.
        </p>
      </div>
    </div>

    <div class="item-use">

      <div class="container">
        <h2>Can be Used for building Web Apps or Hybrid Apps</h2>

        <div class="row">
          <div class="phone-12 tablet-4 column">
            <img src="App/public/assets/img//cordova.jpg">
          </div>
          <div class="phone-12 tablet-8 column">
            <div class="column-feature">
              <p>Phonon is <strong>friendly with PhoneGap / Cordova</strong>. It supports the back button for example and can be optionally started after the device ready event.</p>

              <p>Since the version 1.0.0 released on 2015 August, you can build both <strong>Web Apps</strong> and <strong>Hybrid Apps</strong>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="item-use gray-light">

      <div class="container">
        <h2>Open source code (MIT License)</h2>

        <p>
          The MIT License is a permissive free software license. Phonon is completely open source. Build free or paid apps!
        </p>
      </div>
    </div>

    <div class="item-use">

      <div class="container">

        <h1 class="text-center" id="phonon-more-features">More Features</h1>

        <h2>Auto update for i18n</h2>

        <p>When the user changes the app's language, simply call updateLocale() in order to update your app.</p>

        <h2>Mobile and Tablet Friendly</h2>

        <p>
          Use the <strong>grid system</strong> in order to create smartphone and tablet layouts with the default 12-column.
        </p>

        <p>
          <strong>Side panels</strong> can be exposed on tablet screens and closed by default on mobile screens.
        </p>

        <div class="show-for-tablet-up">
          <div class="tablet-frame">
            <iframe class="tablet-content" src="http://phonon.quarkdev.com/App/public/phonon/examples/components/side-panels-example/index.html"></iframe>
          </div>
        </div>

        <div style="padding-bottom: 46px;"></div>

        <h2>Preprocessors</h2>

        <p>Phonon uses <strong><a href="https://learnboost.github.io/stylus/">Stylus</a></strong> to compile CSS files and <strong><a href="http://gulpjs.com/">Gulp</a></strong> as a streaming build system.</p>

        <h2>Easy to customize</h2>

        <p>Modify stylus variables, then compile your custom CSS.</p>

      </div>
    </div>

    <div class="container">

      <h1 id="compatibility">Compatibility</h1>

      <table class="table">
        <tr>
          <thead>
            <th>Android</th>
            <th>iOS</th>
            <th>IE</th>
            <th>Chrome</th>
            <th>Firefox</th>
            <th>Opera</th>
          </thead>
        </tr>
        <tbody>
          <tr>
            <td>4.1+</td>
            <td>7+</td>
            <td>10+</td>
            <td>30+</td>
            <td>10+</td>
            <td>12+</td>
          </tr>
        </tbody>
      </table>

      <p><strong>IE9</strong> is supported partially, you need the following polyfills:</p>

      <ul>
        <li>classList: <a href="https://github.com/eligrey/classList.js/">eligrey/classList.js</a>.</li>
        <li>matchMedia: <a href="https://github.com/paulirish/matchMedia.js/">paulirish/matchMedia.js</a>.</li>
        <li>Furthermore, CSS3 animations and transitions are not working on IE9.</li>
      </ul>

      <h2>Test Environment</h2>

      <p>Dear developer, if your device or OS/Browser's version is not in the list, please <a href="https://github.com/quark-dev/Phonon-Framework/issues">open an issue on Github</a> or <a href="mailto:anthony@quarkdev.com">contact the lead developer</a> so that we can add it in the list!</p>

      <p><strong>Android:</strong></p>

      <p>
        <ul>
          <li>Samsung Galaxy S3 Mini running on version 4.1.2 (JellyBean) &#10003;</li>
          <li>Samsung Galaxy S3 running on version 4.4 (KitKat) &#10003;</li>
          <li>HTC One Mini 2 running on version 5.0 (Lollipop) &#10003;</li>
        </ul>
      </p>

      <p><strong>iOS:</strong></p>

      <p>
        <ul>
          <li>iPad 7 on version 7 &#10003;<li>
        </ul>
      </p>

      <p><strong>Browsers:</strong></p>

      <p>
        <ul>
          <li>Chrome version 34.0.1847.116 / 44.0.2403.89 &#10003;</li>
          <li>Firefox version 30.0 &#10003;</li>
          <li>Opera version 31.0.1889.99 &#10003;</li>
          <li>Internet Explorer 11 &#10003;</li>
          <li>Internet Explorer 10 &#10003;</li>
        </ul>
      </p>
    </div>

    <div class="item-use">

      <div class="container">

        <h1 id="help-us">Help Us</h1>

        <p>As a 100% free open-source project, developer participation is encouraged, as much or little as possible.</p>

        <p>Fork it, open issues and star the project!</p>

        <iframe src="https://ghbtns.com/github-btn.html?user=quark-dev&repo=Phonon-Framework&type=star&count=false&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
        <iframe src="https://ghbtns.com/github-btn.html?user=quark-dev&repo=Phonon-Framework&type=fork&count=false&size=large" frameborder="0" scrolling="0" width="158px" height="30px"></iframe>

        <h2>Buy Us a Coffee</h2>

        <p>If this framework saved your day and you wish to support future developments you may consider sending some funds via PayPal.</p>

        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="FR8F53JKB8P32">
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>
    </div>

    <div class="container">

      <h1 class="text-center" id="getting-started">Start building your hybrid or Web app with Phonon Framework</h1>

      <ul>
        <li><a href="#starting-with-cordova">Getting Started for hybrid apps (Apache Cordova)</a></li>
        <li><a href="#install-phonon">Getting Started for Web apps: skip steps concerning Cordova</a></li>
      </ul>

      <div class="item-use" id="starting-with-cordova">
        <h1>Getting Started on Cordova</h1>
        <ul>
          <li><a href="http://docs.phonegap.com/en/edge/guide_platforms_android_index.md.html#Android%20Platform%20Guide" target="_blank">Getting Started with Android</a></li>
          <li><a href="http://docs.phonegap.com/en/edge/guide_platforms_ios_index.md.html#iOS%20Platform%20Guide" target="_blank">Getting Started with iOS</a></li>
          <li><a href="http://docs.phonegap.com/en/edge/guide_cli_index.md.html#The%20Command-Line%20Interface" target="_blank">Installing the Cordova CLI</a></li>
        </ul>
      </div>

      <div class="item-use">

        <h1>Create the Cordova App</h1>

        <pre><code class="language-bash">$ cordova create hello com.example.hello HelloWorld</code></pre>

        <p>Add Platforms</p>

        <pre>
          <code class="language-bash">$ cd hello
  $ cordova platform add ios
  $ cordova platform add android
  ...</code></pre>
      </div>

      <div class="item-use" id="install-phonon">

        <h1>Install Phonon</h1>

        <p><a href="https://github.com/quark-dev/Phonon-Framework/archive/master.zip" class="btn-site">Download from Github</a></p>

        <p>
          <ol>
            <li>Copy and paste the phonon stylesheet and link it in the header of your index.html file.</li>
            <li>Create page containers inside your index.html file with the <strong>data-page="true"</strong> attribute.</li>
            <li>Optional: create page templates or put the page template inside its page container. We recommend to use page templates firstly because it reduces the index.html file size and because Navigator can load templates dynamically.</li>
            <li><strong>Important</strong>: anything that's not a .panel, .side-panel, .notification and .dialog should be put in a div with the class .content.</li>
            <li>Setup Phonon options.</li>
            <li>Start the app.</li>
          </ol>
        </p>

        <p><strong>If you use Riot, please see our <a href="http://phonon.quarkdev.com/App/public/phonon/examples/pizza-app-with-riot/">example here</a>.</strong></p>

        <a href="http://phonon.quarkdev.com/App/public/phonon/examples/pizza-app/" class="btn site-btn primary pull-right">Demo</a>

        <ul class="site-tabs" data-tab="example-no-riot">
          <li class="active"><a href="#panel1">index.html</a></li>
          <li><a href="#panel2">app.js</a></li>
          <li><a href="#panel3">tpl/pagetwo.html</a></li>
        </ul>

        <div class="site-tabs-content" id="example-no-riot">
          <div class="site-tab-content active" id="panel1">
            <pre><code class="language-markup">&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;head&gt;
        &lt;meta charset=&quot;utf-8&quot; /&gt;
        &lt;meta name=&quot;format-detection&quot; content=&quot;telephone=no&quot; /&gt;
        &lt;meta name=&quot;viewport&quot; content=&quot;user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height&quot; /&gt;

        &lt;link rel=&quot;stylesheet&quot; href=&quot;../../dist/css/phonon.css&quot; /&gt;
        &lt;title&gt;App&lt;/title&gt;
    &lt;/head&gt;
    &lt;body&gt;
        
        &lt;!-- Panel tags go here --&gt;

        &lt;!-- Side Panel tags go here --&gt;

        &lt;!-- Notification tags go here --&gt;

        &lt;!-- Dialog tags go here --&gt;


        &lt;!-- the home page is the default one. This page does not require to call its content because we define on its tag.--&gt;
        &lt;home data-page=&quot;true&quot;&gt;
            
            &lt;header class=&quot;header-bar&quot;&gt;
                &lt;div class=&quot;center&quot;&gt;
                    &lt;h1 class=&quot;title&quot;&gt;Phonon Example&lt;/h1&gt;
                &lt;/div&gt;
            &lt;/header&gt;
            &lt;div class=&quot;content&quot;&gt;

                &lt;ul class=&quot;list&quot;&gt;
                    &lt;li class=&quot;divider&quot;&gt;Select a pizza&lt;/li&gt;
                    &lt;li&gt;&lt;a class=&quot;padded-list&quot; href=&quot;#!pagetwo/margherita&quot;&gt;Margherita&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a class=&quot;padded-list&quot; href=&quot;#!pagetwo/calzone&quot;&gt;Cheese Calzone&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a class=&quot;padded-list&quot; href=&quot;#!pagetwo/pesto&quot;&gt;Pesto Pizza&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a class=&quot;padded-list&quot; href=&quot;#!pagetwo/roma&quot;&gt;Roma&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a class=&quot;padded-list&quot; href=&quot;#!pagetwo/prosciutto&quot;&gt;Prosciutto&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a class=&quot;padded-list&quot; href=&quot;#!pagetwo/funghi&quot;&gt;Funghi&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;

            &lt;/div&gt;
        &lt;/home&gt;

        &lt;!-- for the second page, Phonon will load its content. --&gt; 
        &lt;pagetwo data-page=&quot;true&quot;&gt;&lt;/pagetwo&gt;
        

        &lt;!-- scripts --&gt;
        &lt;script src=&quot;../../dist/js/phonon.js&quot;&gt;&lt;/script&gt;

        &lt;!-- our app config --&gt;
        &lt;script src=&quot;app.js&quot;&gt;&lt;/script&gt;
    &lt;/body&gt;
&lt;/html&gt;
        </code></pre>
          </div>
          <div class="site-tab-content" id="panel2">
            <pre><code class="language-javascript">phonon.options({
    navigator: {
        defaultPage: 'home',
        animatePages: true,
        enableBrowserBackButton: true,
        templateRootDirectory: './tpl'
    },
    i18n: null // for this example, we do not use internationalization
});


var app = phonon.navigator();

/**
 * The activity scope is not mandatory.
 * For the home page, we do not need to perform actions during
 * page events such as onCreate, onReady, etc
*/
app.on({page: 'home', preventClose: false, content: null});

/**
 * However, on the second page, we want to define the activity scope.
 * [1] On the create callback, we add tap events on buttons. The OnCreate callback is called once.
 * [2] If the user does not tap on buttons, we cancel the page transition. preventClose =&gt; true
 * [3] The OnReady callback is called every time the user comes on this page,
 * here we did not implement it, but if you do, you can use readyDelay to add a small delay
 * between the OnCreate and the OnReady callbacks
*/
app.on({page: 'pagetwo', preventClose: true, content: 'pagetwo.html', readyDelay: 1}, function(activity) {

    var action = null;

    var onAction = function(evt) {
        var target = evt.target;
        action = 'ok';
        
        if(target.getAttribute('data-order') === 'order') {
            phonon.alert('Thank you for your order!', 'Dear customer');

        } else {
            phonon.alert('Your order has been canceled.', 'Dear customer');
        }
    };

    activity.onCreate(function() {
        document.querySelector('.order').on('tap', onAction);
        document.querySelector('.cancel').on('tap', onAction);
    });

    activity.onClose(function(self) {
        if(action !== null) {
            self.close();
        } else {
            phonon.alert('Before leaving this page, you must perform an action.', 'Action required');
        }
    });

    activity.onHidden(function() {
        action = null;
    });

    activity.onHashChanged(function(pizza) {
        document.querySelector('.pizza').textContent = pizza;
    });
});

// Let's go!
app.start();</code></pre>
          </div>
          <div class="site-tab-content" id="panel3">
            <pre><code class="language-markup">&lt;pagetwo class=&quot;app-page&quot;&gt; 
    &lt;header class=&quot;header-bar&quot;&gt;
        &lt;div class=&quot;left&quot;&gt;
            &lt;button class=&quot;btn pull-left icon icon-arrow-back&quot; data-navigation=&quot;$previous-page&quot;&gt;&lt;/button&gt;
            &lt;h1 class=&quot;title&quot;&gt;Page Two&lt;/h1&gt;
        &lt;/div&gt;
    &lt;/header&gt;

    &lt;div class=&quot;content&quot;&gt;
        &lt;div class=&quot;padded-full&quot;&gt;

            &lt;h2&gt;Order&lt;/h2&gt;

            &lt;p&gt;1x Pizza: &lt;span class=&quot;pizza&quot;&gt;&lt;/span&gt;&lt;/p&gt;

            &lt;p class=&quot;message&quot;&gt;&lt;/p&gt;

            &lt;button class=&quot;btn negative cancel&quot; data-order=&quot;cancel&quot;&gt;Cancel&lt;/button&gt;
            &lt;button class=&quot;btn btn-flat primary order&quot; data-order=&quot;order&quot;&gt;Order&lt;/button&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/pagetwo&gt;</code></pre>
          </div>
        </div>
      </div>

      <div class="item-use">

        <h1>Done!</h1>

        <p>Your app is configured and ready to be launched. Phonon does the rest for you.</p>

        <p>You are now invited to <a href="http://phonon.quarkdev.com/docs/">&#8594; read the docs</a> in order to use the Phonon framework like a boss.</p>
        <p>For example how to use more options, exposed side panel on tablets, etc..</p>


        <p>Feel free to contribute to Phonon, we need your support as it is an open source project.</p>
        <p><a href="https://github.com/quark-dev/Phonon-Framework">Open an issue, star and fork this project on Github</a> (very important :) )</p>

      </div>
    </div>
  </div>
<footer class="page-footer">
  <div class="container">

    <div class="pull-right">
      <p>Code license</p>
      <ul>
        <li><a href="https://github.com/quark-dev/Phonon/blob/master/LICENSE">Phonon code licensed under the MIT License</a></li>
      </ul>
    </div>

    <h3>Phonon Framework</h3>

    <p>A HTML5 framework created with love by <a href="http://quarkdev.com">Quarkdev</a>.</p>
  </div>
  <div class="footer-copyright">
    <div class="container">
      2015 Quarkdev
    </div>
  </div>
</footer>
    <script src="http://phonon.quarkdev.com/App/public/assets/js/sharrre.js"></script>
    <script src="http://phonon.quarkdev.com/App/public/assets/js/github-commits.js"></script>

    <!--
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>-->

    <script type="text/javascript">

      'use strict';

      $(document).ready(function() {

        $('#github-commits').githubInfoWidget(
          { user: 'quark-dev', repo: 'Phonon-Framework', branch: 'master', last: 1 }
        );

        $('#twitter').sharrre({
          share: { twitter: true },
          enableHover: false,
          enableTracking: true,
          buttons: { twitter: {via: 'Qathom'}},
          click: function(api, options){
            api.simulateClick();
            api.openPopup('twitter');
          },
          enableCounter: true
        });
        $('#facebook').sharrre({
          share: { facebook: true },
          enableHover: false,
          enableTracking: true,
          click: function(api, options){
            api.simulateClick();
            api.openPopup('facebook');
          },
          enableCounter: true
        });
        $('#googleplus').sharrre({
          share: { googlePlus: true },
          enableHover: false,
          enableTracking: true,
          click: function(api, options){
            api.simulateClick();
            api.openPopup('googlePlus');
          },
          urlCurl: '',
          enableCounter: true
        });

        $('.anchor').click(function(){
            var the_id = $(this).attr("href");
            $('html, body').animate({
                scrollTop: $(the_id).offset().top - 75
            }, 'slow');
            return false;
        });

        var topMenu = $('.vertical-menu');
        var menuItems = topMenu.find('.anchor');
        var lastId;

        // Anchors corresponding to menu items

        var scrollItems = menuItems.map(function() {
          var item = $($(this).attr('href'));
          if (item.length) {
            return item;
          }
        });



        $(document).scroll(function() {

          // Get container scroll position
          var fromTop = $(this).scrollTop() + $(window).height() / 3;

          // Get id of current scroll item
          var cur = scrollItems.map(function() {
            if ($(this).offset().top < fromTop) return this;
          });

          // Get the id of the current element
          cur = cur[cur.length - 1];
          var id = cur && cur.length ? cur[0].id : '';

          if (lastId !== id) {
            lastId = id;
            // Set/remove active class
            menuItems.parent().removeClass('active').end().filter('[href=#' + id + ']').parent().addClass('active');
          }
        });

        $('.site-tabs').on('click', function(evt) {
          evt.preventDefault();

          var tabs = $(evt.target.parentNode.parentNode);
          var tabId = tabs.attr('data-tab');

          var dd = $(evt.target.parentNode);
          var item = $(evt.target);

          if(item[0].nodeName !== 'A' || tabId === null) return;

          $('[data-tab="'+tabId+'"] li').each(function(i, el) {
            if($(this).hasClass('active')) {
              $(this).removeClass('active');
            }
          });

          dd.addClass('active');

          $('#' + tabId + ' .site-tab-content').each(function(i, el) {

            var href = item.attr('href');

            if(href) {

              if(el.id === href.replace('#', '')) {
                $(this).css('display', 'block');
              } else {
                $(this).css('display', 'none');
              }
            }
          });

        });

      });

    </script>
  </body>
</html>

